body {
    background-color: #ffe8e2;
    margin: 0;
}

section {
    padding: 10px;
    margin: 10px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #2c6e49;
    font-family: "Bona Nova SC", serif;
    font-weight: 600;
    font-size: 20px;
}

.wrapper {
    margin-top: 60px; 
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 20px;
    grid-template-rows: 50px, 90px, 300px, 30px;
}

#Name {
    grid-column: 1;
    grid-row: 1;
}

#About {
    grid-column: 1;
    grid-row: 2;
}

#Experience {
    grid-column: 1;
    grid-row: 3;
}

#Skills {
    grid-column: 1;
    grid-row: 4;
}

#Projects {
    grid-column: 1;
    grid-row: 5;
}

#Connect {
    grid-column: 1;
    grid-row: 6;
}

#Photo {
    grid-column: 2;
    grid-row: 1 / 5;
    position: fixed;
    top: 42%;
    left: calc(75% - 150px);
    transform: translateY(-50%);
}

#Photo img {
    width: 300px;
    height: auto;
}

h1, h2 {
    font-family: "Bona Nova SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 5px;
}

h1 {
    color: #e80e48;
    font-size: 40px;
    font-weight: 650;
    text-align: center;
}

h2 {
    color: #4c956c;
    font-size: 34px;
    font-weight: 500;
}

p, ul {
    color: #795e56;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

#Experience .job {
    margin-top: 20px;
    margin-left: 20px;
}

#Experience .job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#Experience .job-title {
    font-weight: 700;
    color: #2c6e49;
    font-family: "Bona Nova SC", serif;
}

#Experience .job-location {
    font-weight: 600;
    color: #2c6e49;
    font-family: "Bona Nova SC", serif;
}

#Experience .job-dates {
    font-weight: 600;
    color: #4c956c;
    font-family: "Bona Nova SC", serif;
    text-align: right;
}

#Experience .job-details {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Experience .job-position {
    font-weight: 600;
    color: #4c956c;
    font-family: "Bona Nova SC", serif;
}
#Experience .job-description {
    font-weight: 450;
    color: #795e56;
    font-family: "Wittgenstein", serif;
    margin-left: 0px;
}

#Connect {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

#Connect ul {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
}

#Connect li {
    list-style: none;
}

#Connect img {
    height: 25px;
    width: auto;
}

