/* Colors */

:root {
    /* Light style */
    --background-light: #ffe8e2;
    --button-light: #ff6f61;
    --heading-1-light: #e80e48;
    --heading-2-light: #4c956c;
    --heading-3-light: #2c6e49;
    --text-1-light: #795e56;
    --text-2-light: #3c231b;
    --accent-light: #8c9e5e;

    /* Dark style */
    --background-dark: #010010;
    --button-dark: #a6d79c;
    --heading-1-dark: #79b3ff;
    --heading-2-dark: #3f863f;
    --heading-3-dark: #f2e7b9;
    --text-1-dark: #e4c981;
    --text-2-dark: #8cbd50;
    --accent-dark: #3485e0;
}

/* Fonts */

:root {
    --heading-font: "Bona Nova SC", serif;
    --nav-font-weight: 600;
    --nav-font-size: 20px;
    --heading-1-font-weight: 650;
    --heading-1-font-size: 40px;
    --heading-2-font-weight: 500;
    --heading-2-font-size: 30px;
    --heading-3-font-weight: 700;
    --heading-3-font-size: 34px;

    --text-font: "Wittgenstein", serif;
    --text-1-font-weight: 600;
    --text-1-font-size: 15px;
    --text-2-font-weight: 450;
    --text-2-font-size: 15px;
}

body {
    margin: 0;
    background-color: var(--background-light);
}

section {
    padding: 10px;
    scroll-margin-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 1000;
    background-color: var(--background-light);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: var(--heading-3-light);
    font-family: var(--heading-font);
    font-weight: var(--nav-font-weight);
    font-size: var(--nav-font-size);
    margin: 0px;
    padding: 15px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: var(--button-light);
    color: var(--background-light);
}

h1, h2 {
    font-family: var(--heading-font);
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 70px;
}

h1 {
    color: var(--heading-1-light);
    font-weight: var(--heading-1-font-weight);
    font-size: var(--heading-1-font-size);
    text-align: center;
}

h2 {
    color: var(--heading-2-light);
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-2-font-size);
}

p, ul {
    color: var(--text-1-light);
    font-family: var(--text-font);
    font-weight: var(--text-1-font-weight);
    font-size: var(--text-1-font-size);
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 70px;
    padding: 0;
}

a {
    color: var(--button-light);
    text-decoration: none;
}

a:hover {
    color: var(--accent-light);
}

/* Main Page Layout */

.wrapper {
    margin-top: 80px; 
    display: grid;
    grid-template-columns: 2.2fr 1.2fr;
    grid-template-rows: 50px, 90px, 350px, 30px;
    gap: 10px;
}

#Name {
    grid-column: 1;
    grid-row: 1;
}

#About {
    grid-column: 1;
    grid-row: 2;
}

#Experience {
    grid-column: 1;
    grid-row: 3;
}

#Skills {
    grid-column: 1;
    grid-row: 4;
}

#Projects {
    grid-column: 1;
    grid-row: 5;
}

#Connect {
    grid-column: 1;
    grid-row: 6;
}

#Photo {
    grid-column: 2;
    grid-row: 1 / 5;
    position: fixed;
    top: 49%;
    right: 7%;
    transform: translateY(-50%);
}

#Photo img {
    width: 300px;
    height: auto;
}

/* Experience Section Layout */

#Experience .job {
    margin-top: 20px;
    margin-left: 70px;
}

#Experience .job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#Experience .job-title {
    color: var(--heading-3-light);
    font-family: var(--heading-font);
    font-weight: var(--heading-3-font-weight);
}

#Experience .job-location {
    color: var(--heading-3-light);
    font-family: var(--heading-font);
    font-weight: var(--text-1-font-weight);
}

#Experience .job-dates {
    color: var(--heading-2-light);
    font-family: var(--heading-font);
    font-weight: var(--text-1-font-weight);
    text-align: right;
}

#Experience .job-details {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Experience .job-position {
    color: var(--heading-2-light);
    font-family: var(--heading-font);
    font-weight: var(--text-1-font-weight);
}
#Experience .job-description {
    color: var(--text-1-light);
    font-family: var(--text-font);
    font-weight: var(--text-2-font-weight);
    margin-left: 0px;
}

#Connect {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

#Connect ul {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
}

#Connect li {
    list-style: none;
}

#Connect img {
    height: 25px;
    width: auto;
}